/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
header[role=banner] {
  padding-top: 12px;
  background-image: url('../images/banner.jpg');
}

header[role=banner] > .navbar {
  margin-top: 10px;
  background-color: rgba(248,248,248,.9);
}

#logo {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}

#name-and-slogan {
  display: table-cell;
}

.site-name {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 36px;
}

.site-name a, .site-name a:hover {
  color: #eee;
  text-shadow: -2px 2px 0 #333, -2px -2px 0 #333, 2px 2px 0 #333, 2px -2px 0 #333;
  text-decoration: none;
}

.site-name a:hover {
  color: #fff;
}

.site-slogan {
  font-size: 24px;
  color: #eee;
  text-shadow: -1px 1px 0 #333, -1px -1px 0 #333, 1px 1px 0 #333, 1px -1px 0 #333;
  margin: 0;
}


@media (min-width: 1200px) {
  .site-name {
    font-size: 42px;
  }
}

@media (max-width: 767px) {
  .site-name {
    font-size: 32px;
  }
  .site-slogan {
    font-size: 18px;
  }
}

.help-menu {
  margin-top: 5px;
  margin-bottom: 5px;
}

.help-menu .nav {
  float: right;
}

@media (max-width: 767px) {
  .help-menu .nav {
    float: none;
  }
}

.help-menu .nav > li > a {
    color: white;
    text-shadow: 1px 1px 0 #333,-1px -1px 0 #333,-1px 1px 0 #333,1px -1px 0 #333;
}
.help-menu .nav > li.active > a,
.help-menu .nav > li.open > a,
.help-menu .nav > li > a:hover {
    background-color: rgba(248,248,248,.8);
    color: #333;
    text-shadow: none
}

.content-bottom-wrapper {
  margin-top: 45px;
}

.form-item-captcha-response label {
  display: block;
}
.form-item-captcha-response .form-control {
  display: inline;
  width: auto;
  margin: 0 1px;
}
.form-required {
  color: #ff0000;
}

.region-header .dropdown-menu {
  z-index: 1001;
}

.region-content-bottom {
  margin-left: -15px;
  margin-right: -15px;
}

.region-content-bottom:before,
.region-content-bottom:after {
  content: '';
  display: table;
  line-height: 0;
}

.region-content-bottom:after {
  clear: both;
}

.region-content-bottom .block h2.block-title {
  margin-top: 0px;
}

ul.secondary {
  float: left;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav > li > a {
    padding: 10px;
  }
}

ul.secondary {
  float: none;
}

@media screen and (min-width: 992px) {
  ul.secondary {
    float: right;
  }
}

.navbar-default {
  border-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active-trail > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: #fff;
}

.homepage-banner {
  position: relative;
  color: white;
  text-shadow: 2px 2px 0px rgb(26,140,80);
  padding: .5em 0;
  margin-bottom: 40px;
}
.homepage-banner::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(26,140,80);
  opacity: .65;
  z-index: -1;
  border-radius: 4px;
}
